<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="format-detection" content="telephone=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            <link rel='shortcut icon' type='image/x-icon' href="{{ asset('favicon.ico') }}"/>
        {% endblock %}
        <title>{% block title %}{{ 'home.title'|trans }}{% endblock %}</title>
    </head>
    <body>

        <div class="container-fluid">

            {% block body %}
            {% endblock %}

        </div>

        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}

    </body>
</html>
